.banner-1,.monstera-container,.arrival-container,#Banner-6{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}





/* Home Section */

.banner-1-brand{
   width: 45%;
   font-family: 'Mulish', sans-serif;
}
.mybrand{
   font-weight: 700;
}
.mybrand-header{
   font-size: 1.4rem;
}
.mybrand-footer{
   font-size: 2.5rem;
}
.banner-1-des{
   width: 65%;
}
.banner-1-des p{
   font-size: 1rem;
}
.banner-1-des-img1{
   width: 28%;
}
.banner-1-des-img2{
   width: 17%;
}


/* Monstera Plant Care */
.monstera-title{
   color: #40513B;
   margin-top: 40%;
   left: 13%;
   top: 14%;
}
.monstera-title h1{
   font-size: 6.5rem;
   font-family: 'Mulish', sans-serif;
}
.monstera-title h2{
   font-size: 5.5rem;
   font-family: 'Sacramento', cursive;

}

/* Banner 3 */

.myfloating-card{
   left: 20%;
}
.myfloating-card-icon{
   max-width: 50%;
}

/* Banner4 */
/* .Banner4-text-1{
   
} */



/* ///////////////////////// */
.banner6-tittle{
   padding-top: 13%;
   padding-bottom: 11%;
   margin-left: 7%;
   width: 40%;
}
.banner6-tittle h1{
   font-size: 4rem;
   width: 50%;
}
.banner6-tittle p{
   font-size: 2rem;

}

.banner6-tittle,.banner6-graphic,.banner6-plant-2,.banner6-plant-3,.banner6-plant-4{
   position: absolute;
}
.banner6-plant-1{
   position: relative;
}
.banner6-graphic{
   top: 2%;
   max-width: 59%;
   right: 0%;
}
.banner6-plant-1{
   margin-top: 12%;
   left: 60%;
 width: 20%;
}
.banner6-plant-2{
  
   bottom: 27%;
   right: 2%;
   max-width: 14%;

}
.banner6-plant-3{
   right: 17%;
   top: 13%;
   max-width: 6%;
}
.banner6-plant-4{
   top: 8%;
   left: 51%;
   max-width: 11%;
}


/* Banner-8 */
.mycard-text{
   color: darkgreen;
   font-weight: 500;
}





@media (max-width:575px) {
   /* Home section */
   .banner-1 .row{
      padding: 0% !important;
      margin-top: 1% !important;
      margin-bottom: 3% !important;
   }
.mybrand{
   font-weight: 700;
   font-size: 1.4rem !important;
}
.mybrand-header{
   padding-top: 50% !important;
   font-size: .4rem;
}
.mybrand-footer{
   font-size: .9rem;
}
.banner-1-des{
   width: 100%;
   padding-left: 0% !important;
   margin-top: 5% !important;
}
.banner-1-des p{
   font-size: .4rem;
}
.banner-1-des-img1{
   width: 25%;
   margin-top: 3% !important;
}
.banner-1-des-img2{
   width: 20%;
   margin-top: 0% !important;
}

}